# Created by .ignore support plugin (hsz.mobi)
/MunicipaliOmega.iml
/.idea/
/MunicipaliOmegaAdmin/MunicipaliOmegaAdmin.iml
/MunicipaliOmegaDatabase/MunicipaliOmegaDatabase.iml
/MunicipaliOmegaUserNotification/MunicipaliOmegaUserNotification.iml
/MunicipaliOmegaCommon/MunicipaliOmegaCommon.iml
/MunicipaliOmegaUser/MunicipaliOmegaUser.iml
/MunicipaliOmegaTests/MunicipaliOmegaTests.iml
